<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{#each posts}}
    <article>
      <h2>{{this.title}}</h2>
      <p>{{this.teaser}}...</p>
      <a href="{{this.path}}">Read Full Post</a>
    </article>
    {{/each}}

    {{#if prevPageLink}}
    <a href="{{prevPageLink}}">Previous Page</a>
    {{/if}}
    {{#if nextPageLink}}
    <a href="{{nextPageLink}}">Next Page</a>
    {{/if}}
  </body>
</html>

